<?xml version='1.0' encoding='utf-8'?>
<widget id="com.saas.controlpanel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PontoColaborador</name>
    <description>
        Aplicativo Cordova para login e batida de ponto.
    </description>
    <author email="team@saas-control.local" href="https://diplomatic-simplicity-production-70e0.up.railway.app">
        SaaS Control Team
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
